<div id="banner-sec" class="top-banner-bg pt-5">
    <div class="container">
      <div class="top-banner row">
        <div class="col-sm-12 col-md-12 col-lg-5">
          <div class="banner-img position-relative">
            <img src="static/images/banner-img.png" class="img-fluid">
            <div class="circle"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-7">
          <div class="banner-info">
            <h1>Hi, i'm <span class="blue-color">Jone Lee</span> a Developer.</h1>
            <p>I use animation as a third dimension by which to simplify experiences and kuiding thro each and every interaction. I’m not adding motion just to spruce things up, but doing it in ways that.</p>
            <div class="btn-groups">
              <a class="btn btn-primary mb-2" href="#">Request A Callback</a>
              <a class="btn btn-outline-primary mb-2" href="#">Resume</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>