<div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-6 col-sm-6 col-md-3">
              <div class="logo-illus">
                <img src="static/images/logo-illustration.svg" alt="" loading="lazy">
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-3">
              <ul>
                <li class="footer-header">quick links</li>
                <li><a href="javascript:void(0);">Why choose Us</a></li>
                <li><a href="javascript:void(0);">How we Work</a></li>
                <li><a href="javascript:void(0);">Work</a></li>
                <li><a href="javascript:void(0);">Branding</a></li>
                <li><a href="javascript:void(0);">FAQ</a></li>
              </ul>
            </div>
            <div class="col-6 col-sm-6 col-md-3">
              <ul>
                <li class="footer-header">Services</li>
                <li><a href="javascript:void(0);">Experience design</a></li>
                <li><a href="javascript:void(0);">Ui/UX</a></li>
                <li><a href="javascript:void(0);">App Development</a></li>
                <li><a href="javascript:void(0);">Branding</a></li>
                <li><a href="javascript:void(0);">Prototyping</a></li>
              </ul>
            </div>
            <div class="col-6 col-sm-6 col-md-3">
              <ul>
                <li class="footer-header">Follow Us</li>
                <ul class="socialIcons">
                  <li>
                    <a href="https://www.facebook.com/" target="_blank">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/login" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/i/flow/login" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </ul>
            </div>
            <div class="col-md-12 mt-5">
              <p class="text-white text-center mb-0">©2021 Rajinder. All Rights Reserved. <a href="javascript:void(0);" class="text-white">Privacy Policy</a> | <a href="javascript:void(0);" class="text-white">Return Policy</a> | <a href="javascript:void(0);" class="text-white">Terms & Conditions</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>