<div id="contact-sec" class="getInTouch main-sec">
    <div class="container">
      <div class="row">
        <div class="heading-style MyToolMobl">
          <h3>Get in touch</h3>
          <h2 class="mb-4">My Toolbox</h2>
          <p class="mb-3">Dropping a line to say g’day, ask for my resume or see if we can build something amazing together? I’d love to hear from you!</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="heading-style MyToolDesk">
            <h3>Get in touch</h3>
            <h2 class="mb-4">Contact</h2>
            <p class="mb-3">Fill in your info in the form below and I look forward to hearing from you!</p>
          </div>
          <div class="getInTouch-inner">
            <div class="row">
              <form action="/action_page.php">
                <div class="mb-3 mt-3">
                  <label class="form-label">Name <sup>*</sup></label>
                  <input type="text" class="form-control" placeholder="Your Name" name="text">
                </div>
                <div class="mb-3">
                  <label class="form-label">Email Address <sup>*</sup></label>
                  <input type="email" class="form-control" placeholder="Your Email Address" name="email">
                </div>
                <div class="mb-3">
                  <label class="form-label">Phone Number <sup>*</sup></label>
                  <input type="number" class="form-control" placeholder="Your Phone Number" name="number">
                </div>
                <div class="mb-3">
                  <label class="form-label">How we can help <sup>*</sup></label>
                  <textarea class="form-control" placeholder="Your Message" rows="5"></textarea>
                </div>
                <a href="javascript:void(0);" class="btn btn-primary">Submit</a>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 ToolboxImg">
          <div class="getInTouchImg-inner">
            <img src="static/images/Getintouch.png" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
</div>