<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rajinder Thakur</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="apple-touch-icon" sizes="76x76" href="static/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="static/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="static//safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  </head>
  <body>
    {% include "front/header.html" %}
     
    {% include "front/banner.html" %}
    <div id="project-sec" class="projects main-sec">
      <div class="container">
        <div class="row">
          <div class="heading-style text-center">
            <h2>Projects</h2>
            <p>As a UI UX designer & Branding Consultant, I’ve helped generate $250 million in online revenue for 75+ clients. Like I did for those clients, I’ll come alongside you to accomplish your goals – providing excellent strategy, design, and development services.</p>
          </div>
          <div class="col-md-6">
            <div class="card projects-inner" data-bs-toggle="modal" data-bs-target="#projectsModal">
              <div class="cardImg">
                <img class="card-img-top img-fluid" src="static/images/productOne.png" alt="Card image" style="width:100%">
              </div>
              <div class="card-body text">
                <h5 class="card-title">iOS Development</h5>
                <h3>Car Rental services with Professional Drivers</h3>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card projects-inner" data-bs-toggle="modal" data-bs-target="#projectsModal">
              <div class="cardImg">
                <img class="card-img-top img-fluid" src="static/images/ProjectTwo.png" alt="Card image" style="width:100%">
              </div>
              <div class="card-body">
                <h5 class="card-title">iOS Development</h5>
                <h3>Car Rental services with Professional Drivers</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-6">
            <div class="card projects-inner" data-bs-toggle="modal" data-bs-target="#projectsModal">
              <div class="cardImg">
                <img class="card-img-top img-fluid" src="static/images/ProjectThree.png" alt="Card image" style="width:100%">
              </div>
              <div class="card-body">
                <h5 class="card-title">iOS Development</h5>
                <h3>Car Rental services with Professional Drivers</h3>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card projects-inner" data-bs-toggle="modal" data-bs-target="#projectsModal">
              <div class="cardImg">
                <img class="card-img-top img-fluid" src="static/images/ProjectTwo.png" alt="Card image" style="width:100%">
              </div>
              <div class="card-body">
                <h5 class="card-title">iOS Development</h5>
                <h3>Car Rental services with Professional Drivers</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="service-sec" class="services main-sec">
      <div class="container">
        <div class="heading-style text-center">
          <h2>Services</h2>
          <p>I help clients achieve their business goals through improved UI UX for e-commerce, websites, and apps.</p>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
            <div class="card services-inner">
              <div class="srvices-icons eCommerce-info"><a href="javascript:void[0]"><i class="bi bi-cart-fill"></i></a></div>
              <div class="card-body p-0 text-center">
                <h4 class="card-title">eCommerce</h4>
                <p class="card-text">I craft shopping experiences that engage and convert.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
            <div class="card services-inner">
              <div class="srvices-icons Websites-info"><a href="javascript:void[0]"><i class="bi bi-globe"></i></a></div>
              <div class="card-body p-0 text-center">
                <h4 class="card-title">Websites</h4>
                <p class="card-text">I craft shopping experiences that engage and convert.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
            <div class="card services-inner">
              <div class="srvices-icons Services-info"><a href="javascript:void[0]"><i class="bi bi-person-workspace"></i></a></div>
              <div class="card-body p-0 text-center">
                <h4 class="card-title">Services</h4>
                <p class="card-text">I work closely with clients to take their website’s UI UX to a new level.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
            <div class="card services-inner">
              <div class="srvices-icons Behavior-info"><a href="javascript:void[0]"><i class="bi bi-clipboard2-data-fill"></i></a></div>
              <div class="card-body p-0 text-center">
                <h4 class="card-title">Behavior Analytics</h4>
                <p class="card-text">I craft shopping experiences that engage and convert.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
            <div class="card services-inner">
              <div class="srvices-icons Information-info"><a href="javascript:void[0]"><i class="bi bi-diagram-3-fill"></i></a></div>
              <div class="card-body p-0 text-center">
                <h4 class="card-title">Information Architecture</h4>
                <p class="card-text">I craft shopping experiences that engage and convert.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
            <div class="card services-inner">
              <div class="srvices-icons A/B-info"><a href="javascript:void[0]"><i class="bi bi-file-code-fill"></i></a></div>
              <div class="card-body p-0 text-center">
                <h4 class="card-title">A/B Testing</h4>
                <p class="card-text">I craft shopping experiences that engage and convert.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="services-btn text-center">
          <a class="btn btn-primary" href="javascript:void(0);">Let's Talk</a>
        </div>
      </div>
    </div>
    <div id="toolbox-sec" class="myToolBox main-sec">
      <div class="container">
        <div class="row">
          <div class="heading-style MyToolMobl">
            <h2 class="mb-4">My Toolbox</h2>
            <p>The skills, tools and technologies I use to bring your products to life:</p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="heading-style MyToolDesk">
              <h2 class="mb-4">My Toolbox</h2>
              <p>The skills, tools and technologies I use to bring your products to life:</p>
            </div>
            <div class="myToolBox-inner text-center">
              <div class="row">
                <div class="col-6">
                  <img src="static/images/Html.svg">
                  <p><a href="javascript:void(0);" class="blue-color">Html5</a></p>
                </div>
                <div class="col-6">
                  <img src="static/images/Css.svg">
                  <p><a href="javascript:void(0);" class="blue-color">CSS3</a></p>
                </div>
                <div class="col-6">
                  <img src="static/images/Git.svg">
                  <p><a href="javascript:void(0);" class="blue-color">Git</a></p>
                </div>
                <div class="col-6">
                  <img src="static/images/js.svg">
                  <p><a href="javascript:void(0);" class="blue-color">JavaScript</a></p>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-6">
                  <img src="static/images/Wordpress.svg">
                  <p><a href="javascript:void(0);" class="blue-color">WordPress</a></p>
                </div>
                <div class="col-6">
                  <img src="static/images/github.svg">
                  <p><a href="javascript:void(0);" class="blue-color">Github</a></p>
                </div>
                <div class="col-6">
                  <img src="static/images/dotnet.svg">
                  <p><a href="javascript:void(0);" class="blue-color">VS Code</a></p>
                </div>
                <div class="col-6">
                  <img src="static/images/react.svg">
                  <p><a href="javascript:void(0);" class="blue-color">React Js</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6 ToolboxImg">
            <div class="myToolBoxImg-inner">
              <img src="static/images/ToolboxImg.png" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="testimonial-sec" class="Testimonials main-sec">
      <div class="container">
        <div class="row">
          <div class="heading-style text-center">
            <h2>Testimonials</h2>
            <p>You need more informations? Read our customers reviews.</p>
          </div>
          <div class="col-sm-0 col-md-1"></div>
          <div class="col-sm-12 col-md-10">
            <div id="carouselExampleControls" class="carousel slide text-center" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="testsStar mb-3">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </div>
                  <p class="m-2">“I went from zero followers to over a thousand, and I make enough money off my streams that I can officially say that livestreaming is now my primary source of income.”</p>
                  <p class="m-2"><small class="blue-color">Emily Henry</small></p>
                  <p class="m-2"><span>CEO</span></p>
                  <div class="testsVideo mt-5 mb-5">
                    <iframe src="https://www.youtube.com/embed/qyHyFsT7Hig" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="testsStar mb-3">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </div>
                  <p class="m-2">“I went from zero followers to over a thousand, and I make enough money off my streams that I can officially say that livestreaming is now my primary source of income.”</p>
                  <p class="m-2"><small class="blue-color">Emily Henry</small></p>
                  <p class="m-2"><span>CEO</span></p>
                  <div class="testsVideo mt-5 mb-5">
                    <iframe src="https://www.youtube.com/embed/MCy5zXmlrfc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="testsStar mb-3">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </div>
                  <p class="m-2">“I went from zero followers to over a thousand, and I make enough money off my streams that I can officially say that livestreaming is now my primary source of income.”</p>
                  <p class="m-2"><small class="blue-color">Emily Henry</small></p>
                  <p class="m-2"><span>CEO</span></p>
                  <div class="testsVideo mt-5 mb-5">
                    <iframe src="https://www.youtube.com/embed/nUzXq11M5uc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="col-sm-0 col-md-1"></div>
        </div>
      </div>
    </div>
    <div class="container TestsCards">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
          <div class="card services-inner">
            <div class="card-body p-0 text-center">
              <div class="testsStar mb-3">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </div>
              <p class="card-text">“Never did I expect to get SIX offers from top booking agencies. Words will never express how thankful I am for your guide.</p>
            </div>
            <img src="https://mythemeshop.com/wp-content/themes/mts19/images/testimonials/Ryan-360x290.jpg" class="testsImg text-center">
            <p class="mt-3 text-center"><small class="blue-color">Emily Henry</small></p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
          <div class="card services-inner">
            <div class="card-body p-0 text-center">
              <div class="testsStar mb-3">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </div>
              <p class="card-text">“Never did I expect to get SIX offers from top booking agencies. Words will never express how thankful I am for your guide.</p>
            </div>
            <img src="https://mythemeshop.com/wp-content/themes/mts19/images/testimonials/Ryan-360x290.jpg" class="testsImg">
            <p class="mt-3 text-center"><small class="blue-color">Emily Henry</small></p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
          <div class="card services-inner">
            <div class="card-body p-0 text-center">
              <div class="testsStar mb-3">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </div>
              <p class="card-text">“Never did I expect to get SIX offers from top booking agencies. Words will never express how thankful I am for your guide.</p>
            </div>
            <img src="https://mythemeshop.com/wp-content/themes/mts19/images/testimonials/Ryan-360x290.jpg" class="testsImg">
            <p class="mt-3 text-center"><small class="blue-color">Emily Henry</small></p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
          <div class="card services-inner">
            <div class="card-body p-0 text-center">
              <div class="testsStar mb-3">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </div>
              <p class="card-text">“Never did I expect to get SIX offers from top booking agencies. Words will never express how thankful I am for your guide.</p>
            </div>
            <img src="https://mythemeshop.com/wp-content/themes/mts19/images/testimonials/Ryan-360x290.jpg" class="testsImg">
            <p class="mt-3 text-center"><small class="blue-color">Emily Henry</small></p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
          <div class="card services-inner">
            <div class="card-body p-0 text-center">
              <div class="testsStar mb-3">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </div>
              <p class="card-text">“Never did I expect to get SIX offers from top booking agencies. Words will never express how thankful I am for your guide.</p>
            </div>
            <img src="https://mythemeshop.com/wp-content/themes/mts19/images/testimonials/Ryan-360x290.jpg" class="testsImg">
            <p class="mt-3 text-center"><small class="blue-color">Emily Henry</small></p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
          <div class="card services-inner">
            <div class="card-body p-0 text-center">
              <div class="testsStar mb-3">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </div>
              <p class="card-text">“Never did I expect to get SIX offers from top booking agencies. Words will never express how thankful I am for your guide.</p>
            </div>
            <img src="https://mythemeshop.com/wp-content/themes/mts19/images/testimonials/Ryan-360x290.jpg" class="testsImg text-center">
            <p class="mt-3 text-center"><small class="blue-color">Emily Henry</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="Accordion-Sec main-sec">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="card Accordion-Sec-inner">
              <div class="heading-style text-center">
                <h2>Frequently Asked Questions</h2>
                <p>A lot of people don’t appreciate the moment until it’s passed. I’m not trying my hardest, and I’m not trying to do</p>
              </div>
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Where are you located?
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      Ari’s Take Academy is completely online. Our instructors, moderators and students are all over the world! The core ATA team is based in Los Angeles, California.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    When is enrollment open for ATA?
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      Ari’s Take Academy is completely online. Our instructors, moderators and students are all over the world! The core ATA team is based in Los Angeles, California.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    When does this course start and finish?
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the , though the transition does limit overflow.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingfour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                    What genres do you work with?
                    </button>
                  </h2>
                  <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the though the transition does limit overflow.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingfive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                    How long will I have access to this course?
                    </button>
                  </h2>
                  <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingfive" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the though the transition does limit overflow.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingsix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                    Do you have a refund policy?
                    </button>
                  </h2>
                  <div id="collapsesix" class="accordion-collapse collapse" aria-labelledby="headingsix" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the though the transition does limit overflow.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingseven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
                    How can I justify the price?
                    </button>
                  </h2>
                  <div id="collapseseven" class="accordion-collapse collapse" aria-labelledby="headingseven" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the though the transition does limit overflow.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingeight">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
                    What is required to do this course?
                    </button>
                  </h2>
                  <div id="collapseeight" class="accordion-collapse collapse" aria-labelledby="headingeight" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the though the transition does limit overflow.
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingsnine">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsenine" aria-expanded="false" aria-controls="collapsenine">
                  How long will I have access to this course?
                  </button>
                </h2>
                <div id="collapsenine" class="accordion-collapse collapse" aria-labelledby="headingsnine" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the though the transition does limit overflow.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingten">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseten" aria-expanded="false" aria-controls="collapseten">
                  Does it matter if I have only 1 song released? How about albums from years ago?
                  </button>
                </h2>
                <div id="collapseten" class="accordion-collapse collapse" aria-labelledby="headingten" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the though the transition does limit overflow.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="contact-sec" class="getInTouch main-sec">
      <div class="container">
        <div class="row">
          <div class="heading-style MyToolMobl">
            <h3>Get in touch</h3>
            <h2 class="mb-4">My Toolbox</h2>
            <p class="mb-3">Dropping a line to say g’day, ask for my resume or see if we can build something amazing together? I’d love to hear from you!</p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="heading-style MyToolDesk">
              <h3>Get in touch</h3>
              <h2 class="mb-4">Contact</h2>
              <p class="mb-3">Fill in your info in the form below and I look forward to hearing from you!</p>
            </div>
            <div class="getInTouch-inner">
              <div class="row">
                <form action="/action_page.php">
                  <div class="mb-3 mt-3">
                    <label class="form-label">Name <sup>*</sup></label>
                    <input type="text" class="form-control" placeholder="Your Name" name="text">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Email Address <sup>*</sup></label>
                    <input type="email" class="form-control" placeholder="Your Email Address" name="email">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Phone Number <sup>*</sup></label>
                    <input type="number" class="form-control" placeholder="Your Phone Number" name="number">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">How we can help <sup>*</sup></label>
                    <textarea class="form-control" placeholder="Your Message" rows="5"></textarea>
                  </div>
                  <a href="javascript:void(0);" class="btn btn-primary">Submit</a>
                </form>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6 ToolboxImg">
            <div class="getInTouchImg-inner">
              <img src="static/images/Getintouch.png" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-6 col-sm-6 col-md-3">
                <div class="logo-illus">
                  <img src="static/images/logo-illustration.svg" alt="" loading="lazy">
                </div>
              </div>
              <div class="col-6 col-sm-6 col-md-3">
                <ul>
                  <li class="footer-header">quick links</li>
                  <li><a href="javascript:void(0);">Why choose Us</a></li>
                  <li><a href="javascript:void(0);">How we Work</a></li>
                  <li><a href="javascript:void(0);">Work</a></li>
                  <li><a href="javascript:void(0);">Branding</a></li>
                  <li><a href="javascript:void(0);">FAQ</a></li>
                </ul>
              </div>
              <div class="col-6 col-sm-6 col-md-3">
                <ul>
                  <li class="footer-header">Services</li>
                  <li><a href="javascript:void(0);">Experience design</a></li>
                  <li><a href="javascript:void(0);">Ui/UX</a></li>
                  <li><a href="javascript:void(0);">App Development</a></li>
                  <li><a href="javascript:void(0);">Branding</a></li>
                  <li><a href="javascript:void(0);">Prototyping</a></li>
                </ul>
              </div>
              <div class="col-6 col-sm-6 col-md-3">
                <ul>
                  <li class="footer-header">Follow Us</li>
                  <ul class="socialIcons">
                    <li>
                      <a href="https://www.facebook.com/" target="_blank">
                      <i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/login" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://twitter.com/i/flow/login" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </ul>
              </div>
              <div class="col-md-12 mt-5">
                <p class="text-white text-center mb-0">©2021 Rajinder. All Rights Reserved. <a href="javascript:void(0);" class="text-white">Privacy Policy</a> | <a href="javascript:void(0);" class="text-white">Return Policy</a> | <a href="javascript:void(0);" class="text-white">Terms & Conditions</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Starts From Here -->
    <div class="modal" id="projectsModal">
      <div class="modal-dialog  modal-dialog-scrollable">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Projects Name</h4>
            <div>
              <a class="btn-link me-3 d-lg-inline-block d-none" target="_blank" href="#">Live Link <i class="fa fa-external-link"></i></a>
              <a class="btn btn-primary me-4 d-lg-inline-block d-none" href="#">Let's Talk</a>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 d-lg-none text-center mb-4">
                  <a class="btn-link me-3 mb-2" target="_blank" href="#">Live Link <i class="fa fa-external-link"></i></a>
                  <a class="btn btn-primary" href="#">Let's Talk</a>
                </div>
                <div id="carouselExampleCaptions" class="carousel slide mb-3" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="static/images/productOne.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="static/images/ProjectTwo.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="static/images/ProjectThree.png" class="d-block w-100" alt="...">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-8 mb-4">
                  <div class="projectsModal-inner">
                    <h4 class="mb-3">Description</h4>
                    <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before the final copy is available.</p>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="Modal-inner">
                    <h4 class="mb-3">Tools</h4>
                    <ul>
                      <li>
                        <img src="static/images/Html.svg">
                        <a href="">Html5</a>
                      </li>
                      <li>
                        <img src="static/images/Css.svg">
                        <a href="">CSS3</a>
                      </li>
                      <li>
                        <img src="static/images/Git.svg">
                        <a href="">Git</a>
                      </li>
                      <li>
                        <img src="static/images/js.svg"><a href="">JavaScript</a>
                      </li>
                      <li><img src="static/images/Wordpress.svg"><a href="">WordPress</a></li>
                      <li><img src="static/images/github.svg"><a href="">Github</a></li>
                      <li><img src="static/images/dotnet.svg"><a href="">VS Code</a></li>
                      <li><img src="static/images/react.svg"><a href="">React Js</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal End From Here -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"></script>
    <script type="text/javascript">
     // var prevScrollpos = window.pageYOffset;
     //  window.onscroll = function() {
     //    var currentScrollPos = window.pageYOffset;
     //    if (prevScrollpos > currentScrollPos) {
     //      document.getElementById("navbar-top").style.top = "0";
     //    } else {
     //      document.getElementById("navbar-top").style.top = "-67px";
     //    }
     //    prevScrollpos = currentScrollPos;
     //  }

      var new_scroll_position = 0;
        var last_scroll_position;
        var header = document.getElementById("navbar-top");

        window.addEventListener('scroll', function(e) {
          last_scroll_position = window.scrollY;

          // Scrolling down
          if (new_scroll_position < last_scroll_position && last_scroll_position > 80) {
            // header.removeClass('slideDown').addClass('slideUp');
            header.classList.remove("slideDown");
            header.classList.add("slideUp");

          // Scrolling up
          } else if (new_scroll_position > last_scroll_position) {
            // header.removeClass('slideUp').addClass('slideDown');
            header.classList.remove("slideUp");
            header.classList.add("slideDown");
          }

          new_scroll_position = last_scroll_position;
        });



      $(".navbar-toggler").click(function() {
        $('body').toggleClass('opennav-menu');
      });
      $('.navbar-collapse .nav-link').click(function(){
        $(".navbar-collapse").collapse('hide');
        $("body").removeClass('opennav-menu');
      });
      $(function() {
        $(".navbar-nav li").click(function() {
          $(".navbar-nav li").removeClass("active");
          $(this).addClass("active");
        });
      });
    </script>
  </body>
</html>