<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rajinder Thakur</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="apple-touch-icon" sizes="76x76" href="static/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="static/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="static//safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  </head>
  <body>
  {% include "front/header.html" %}
     
  {% include "front/banner.html" %}
    
  {% include "front/projects.html" %}

  {% include "front/services.html" %}

  {% include "front/toolBox.html" %}

  {% include "front/testimonials.html" %}
    
  {% include "front/faq.html" %} 
    
  {% include "front/getInTuch.html" %}
  
  {% include "front/footer.html" %}
    <!-- Modal Starts From Here -->
    <div class="modal" id="projectsModal">
      <div class="modal-dialog  modal-dialog-scrollable">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Projects Name</h4>
            <div>
              <a class="btn-link me-3 d-lg-inline-block d-none" target="_blank" href="#">Live Link <i class="fa fa-external-link"></i></a>
              <a class="btn btn-primary me-4 d-lg-inline-block d-none" href="#">Let's Talk</a>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 d-lg-none text-center mb-4">
                  <a class="btn-link me-3 mb-2" target="_blank" href="#">Live Link <i class="fa fa-external-link"></i></a>
                  <a class="btn btn-primary" href="#">Let's Talk</a>
                </div>
                <div id="carouselExampleCaptions" class="carousel slide mb-3" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="static/images/productOne.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="static/images/ProjectTwo.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="static/images/ProjectThree.png" class="d-block w-100" alt="...">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-8 mb-4">
                  <div class="projectsModal-inner">
                    <h4 class="mb-3">Description</h4>
                    <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before the final copy is available.</p>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="Modal-inner">
                    <h4 class="mb-3">Tools</h4>
                    <ul>
                      <li>
                        <img src="static/images/Html.svg">
                        <a href="">Html5</a>
                      </li>
                      <li>
                        <img src="static/images/Css.svg">
                        <a href="">CSS3</a>
                      </li>
                      <li>
                        <img src="static/images/Git.svg">
                        <a href="">Git</a>
                      </li>
                      <li>
                        <img src="static/images/js.svg"><a href="">JavaScript</a>
                      </li>
                      <li><img src="static/images/Wordpress.svg"><a href="">WordPress</a></li>
                      <li><img src="static/images/github.svg"><a href="">Github</a></li>
                      <li><img src="static/images/dotnet.svg"><a href="">VS Code</a></li>
                      <li><img src="static/images/react.svg"><a href="">React Js</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal End From Here -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"></script>
    <script type="text/javascript">
     // var prevScrollpos = window.pageYOffset;
     //  window.onscroll = function() {
     //    var currentScrollPos = window.pageYOffset;
     //    if (prevScrollpos > currentScrollPos) {
     //      document.getElementById("navbar-top").style.top = "0";
     //    } else {
     //      document.getElementById("navbar-top").style.top = "-67px";
     //    }
     //    prevScrollpos = currentScrollPos;
     //  }

      var new_scroll_position = 0;
        var last_scroll_position;
        var header = document.getElementById("navbar-top");

        window.addEventListener('scroll', function(e) {
          last_scroll_position = window.scrollY;

          // Scrolling down
          if (new_scroll_position < last_scroll_position && last_scroll_position > 80) {
            // header.removeClass('slideDown').addClass('slideUp');
            header.classList.remove("slideDown");
            header.classList.add("slideUp");

          // Scrolling up
          } else if (new_scroll_position > last_scroll_position) {
            // header.removeClass('slideUp').addClass('slideDown');
            header.classList.remove("slideUp");
            header.classList.add("slideDown");
          }

          new_scroll_position = last_scroll_position;
        });



      $(".navbar-toggler").click(function() {
        $('body').toggleClass('opennav-menu');
      });
      $('.navbar-collapse .nav-link').click(function(){
        $(".navbar-collapse").collapse('hide');
        $("body").removeClass('opennav-menu');
      });
      $(function() {
        $(".navbar-nav li").click(function() {
          $(".navbar-nav li").removeClass("active");
          $(this).addClass("active");
        });
      });
    </script>
  </body>
</html>