<div id="project-sec" class="projects main-sec">
    <div class="container">
      <div class="row">
        <div class="heading-style text-center">
          <h2>Projects</h2>
          <p>As a UI UX designer & Branding Consultant, I’ve helped generate $250 million in online revenue for 75+ clients. Like I did for those clients, I’ll come alongside you to accomplish your goals – providing excellent strategy, design, and development services.</p>
        </div>
        <div class="col-md-6">
          <div class="card projects-inner" data-bs-toggle="modal" data-bs-target="#projectsModal">
            <div class="cardImg">
              <img class="card-img-top img-fluid" src="static/images/productOne.png" alt="Card image" style="width:100%">
            </div>
            <div class="card-body text">
              <h5 class="card-title">iOS Development</h5>
              <h3>Car Rental services with Professional Drivers</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card projects-inner" data-bs-toggle="modal" data-bs-target="#projectsModal">
            <div class="cardImg">
              <img class="card-img-top img-fluid" src="static/images/ProjectTwo.png" alt="Card image" style="width:100%">
            </div>
            <div class="card-body">
              <h5 class="card-title">iOS Development</h5>
              <h3>Car Rental services with Professional Drivers</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6">
          <div class="card projects-inner" data-bs-toggle="modal" data-bs-target="#projectsModal">
            <div class="cardImg">
              <img class="card-img-top img-fluid" src="static/images/ProjectThree.png" alt="Card image" style="width:100%">
            </div>
            <div class="card-body">
              <h5 class="card-title">iOS Development</h5>
              <h3>Car Rental services with Professional Drivers</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card projects-inner" data-bs-toggle="modal" data-bs-target="#projectsModal">
            <div class="cardImg">
              <img class="card-img-top img-fluid" src="static/images/ProjectTwo.png" alt="Card image" style="width:100%">
            </div>
            <div class="card-body">
              <h5 class="card-title">iOS Development</h5>
              <h3>Car Rental services with Professional Drivers</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>