<div id="service-sec" class="services main-sec">
    <div class="container">
      <div class="heading-style text-center">
        <h2>Services</h2>
        <p>I help clients achieve their business goals through improved UI UX for e-commerce, websites, and apps.</p>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
          <div class="card services-inner">
            <div class="srvices-icons eCommerce-info"><a href="javascript:void[0]"><i class="bi bi-cart-fill"></i></a></div>
            <div class="card-body p-0 text-center">
              <h4 class="card-title">eCommerce</h4>
              <p class="card-text">I craft shopping experiences that engage and convert.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
          <div class="card services-inner">
            <div class="srvices-icons Websites-info"><a href="javascript:void[0]"><i class="bi bi-globe"></i></a></div>
            <div class="card-body p-0 text-center">
              <h4 class="card-title">Websites</h4>
              <p class="card-text">I craft shopping experiences that engage and convert.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
          <div class="card services-inner">
            <div class="srvices-icons Services-info"><a href="javascript:void[0]"><i class="bi bi-person-workspace"></i></a></div>
            <div class="card-body p-0 text-center">
              <h4 class="card-title">Services</h4>
              <p class="card-text">I work closely with clients to take their website’s UI UX to a new level.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
          <div class="card services-inner">
            <div class="srvices-icons Behavior-info"><a href="javascript:void[0]"><i class="bi bi-clipboard2-data-fill"></i></a></div>
            <div class="card-body p-0 text-center">
              <h4 class="card-title">Behavior Analytics</h4>
              <p class="card-text">I craft shopping experiences that engage and convert.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
          <div class="card services-inner">
            <div class="srvices-icons Information-info"><a href="javascript:void[0]"><i class="bi bi-diagram-3-fill"></i></a></div>
            <div class="card-body p-0 text-center">
              <h4 class="card-title">Information Architecture</h4>
              <p class="card-text">I craft shopping experiences that engage and convert.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
          <div class="card services-inner">
            <div class="srvices-icons A/B-info"><a href="javascript:void[0]"><i class="bi bi-file-code-fill"></i></a></div>
            <div class="card-body p-0 text-center">
              <h4 class="card-title">A/B Testing</h4>
              <p class="card-text">I craft shopping experiences that engage and convert.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="services-btn text-center">
        <a class="btn btn-primary" href="javascript:void(0);">Let's Talk</a>
      </div>
    </div>
</div>