<div id="testimonial-sec" class="Testimonials main-sec">
    <div class="container">
      <div class="row">
        <div class="heading-style text-center">
          <h2>Testimonials</h2>
          <p>You need more informations? Read our customers reviews.</p>
        </div>
        <div class="col-sm-0 col-md-1"></div>
        <div class="col-sm-12 col-md-10">
          <div id="carouselExampleControls" class="carousel slide text-center" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="testsStar mb-3">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <p class="m-2">“I went from zero followers to over a thousand, and I make enough money off my streams that I can officially say that livestreaming is now my primary source of income.”</p>
                <p class="m-2"><small class="blue-color">Emily Henry</small></p>
                <p class="m-2"><span>CEO</span></p>
                <div class="testsVideo mt-5 mb-5">
                  <iframe src="https://www.youtube.com/embed/qyHyFsT7Hig" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
              <div class="carousel-item">
                <div class="testsStar mb-3">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <p class="m-2">“I went from zero followers to over a thousand, and I make enough money off my streams that I can officially say that livestreaming is now my primary source of income.”</p>
                <p class="m-2"><small class="blue-color">Emily Henry</small></p>
                <p class="m-2"><span>CEO</span></p>
                <div class="testsVideo mt-5 mb-5">
                  <iframe src="https://www.youtube.com/embed/MCy5zXmlrfc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
              <div class="carousel-item">
                <div class="testsStar mb-3">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <p class="m-2">“I went from zero followers to over a thousand, and I make enough money off my streams that I can officially say that livestreaming is now my primary source of income.”</p>
                <p class="m-2"><small class="blue-color">Emily Henry</small></p>
                <p class="m-2"><span>CEO</span></p>
                <div class="testsVideo mt-5 mb-5">
                  <iframe src="https://www.youtube.com/embed/nUzXq11M5uc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div class="col-sm-0 col-md-1"></div>
      </div>
    </div>
</div>
<div class="container TestsCards">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
        <div class="card services-inner">
          <div class="card-body p-0 text-center">
            <div class="testsStar mb-3">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>
            <p class="card-text">“Never did I expect to get SIX offers from top booking agencies. Words will never express how thankful I am for your guide.</p>
          </div>
          <img src="https://mythemeshop.com/wp-content/themes/mts19/images/testimonials/Ryan-360x290.jpg" class="testsImg text-center">
          <p class="mt-3 text-center"><small class="blue-color">Emily Henry</small></p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
        <div class="card services-inner">
          <div class="card-body p-0 text-center">
            <div class="testsStar mb-3">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>
            <p class="card-text">“Never did I expect to get SIX offers from top booking agencies. Words will never express how thankful I am for your guide.</p>
          </div>
          <img src="https://mythemeshop.com/wp-content/themes/mts19/images/testimonials/Ryan-360x290.jpg" class="testsImg">
          <p class="mt-3 text-center"><small class="blue-color">Emily Henry</small></p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
        <div class="card services-inner">
          <div class="card-body p-0 text-center">
            <div class="testsStar mb-3">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>
            <p class="card-text">“Never did I expect to get SIX offers from top booking agencies. Words will never express how thankful I am for your guide.</p>
          </div>
          <img src="https://mythemeshop.com/wp-content/themes/mts19/images/testimonials/Ryan-360x290.jpg" class="testsImg">
          <p class="mt-3 text-center"><small class="blue-color">Emily Henry</small></p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
        <div class="card services-inner">
          <div class="card-body p-0 text-center">
            <div class="testsStar mb-3">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>
            <p class="card-text">“Never did I expect to get SIX offers from top booking agencies. Words will never express how thankful I am for your guide.</p>
          </div>
          <img src="https://mythemeshop.com/wp-content/themes/mts19/images/testimonials/Ryan-360x290.jpg" class="testsImg">
          <p class="mt-3 text-center"><small class="blue-color">Emily Henry</small></p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
        <div class="card services-inner">
          <div class="card-body p-0 text-center">
            <div class="testsStar mb-3">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>
            <p class="card-text">“Never did I expect to get SIX offers from top booking agencies. Words will never express how thankful I am for your guide.</p>
          </div>
          <img src="https://mythemeshop.com/wp-content/themes/mts19/images/testimonials/Ryan-360x290.jpg" class="testsImg">
          <p class="mt-3 text-center"><small class="blue-color">Emily Henry</small></p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
        <div class="card services-inner">
          <div class="card-body p-0 text-center">
            <div class="testsStar mb-3">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>
            <p class="card-text">“Never did I expect to get SIX offers from top booking agencies. Words will never express how thankful I am for your guide.</p>
          </div>
          <img src="https://mythemeshop.com/wp-content/themes/mts19/images/testimonials/Ryan-360x290.jpg" class="testsImg text-center">
          <p class="mt-3 text-center"><small class="blue-color">Emily Henry</small></p>
        </div>
      </div>
    </div>
</div>