<div id="toolbox-sec" class="myToolBox main-sec">
    <div class="container">
      <div class="row">
        <div class="heading-style MyToolMobl">
          <h2 class="mb-4">My Toolbox</h2>
          <p>The skills, tools and technologies I use to bring your products to life:</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="heading-style MyToolDesk">
            <h2 class="mb-4">My Toolbox</h2>
            <p>The skills, tools and technologies I use to bring your products to life:</p>
          </div>
          <div class="myToolBox-inner text-center">
            <div class="row">
              <div class="col-6">
                <img src="static/images/Html.svg">
                <p><a href="javascript:void(0);" class="blue-color">Html5</a></p>
              </div>
              <div class="col-6">
                <img src="static/images/Css.svg">
                <p><a href="javascript:void(0);" class="blue-color">CSS3</a></p>
              </div>
              <div class="col-6">
                <img src="static/images/Git.svg">
                <p><a href="javascript:void(0);" class="blue-color">Git</a></p>
              </div>
              <div class="col-6">
                <img src="static/images/js.svg">
                <p><a href="javascript:void(0);" class="blue-color">JavaScript</a></p>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-6">
                <img src="static/images/Wordpress.svg">
                <p><a href="javascript:void(0);" class="blue-color">WordPress</a></p>
              </div>
              <div class="col-6">
                <img src="static/images/github.svg">
                <p><a href="javascript:void(0);" class="blue-color">Github</a></p>
              </div>
              <div class="col-6">
                <img src="static/images/dotnet.svg">
                <p><a href="javascript:void(0);" class="blue-color">VS Code</a></p>
              </div>
              <div class="col-6">
                <img src="static/images/react.svg">
                <p><a href="javascript:void(0);" class="blue-color">React Js</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 ToolboxImg">
          <div class="myToolBoxImg-inner">
            <img src="static/images/ToolboxImg.png" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
</div>